@charset "utf-8";
/*footer*/
.u_ft{position:relative;padding:25px 0 20px;border-top:1px solid #b2b4b6;letter-spacing:0;text-align:center}
.u_ft .u_cr{color:#6c6f77;font-size:11px;text-align:center}
.u_ft .u_cr a{color:#6c6f77}
